@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;0,900;1,600&display=swap');

body,*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 16px;
    
    color: #999999;
}
p{
    line-height: 29px;
}
html{
    scroll-behavior: smooth;
}
a:hover{
    text-decoration: none;
    color: #000;
}

/* Menu Section */
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:hover{
    border-bottom: 2px solid #ffbd39;
}
.ftco-navbar-light {
    background: #000;
}
.ftco-navbar-light .navbar-brand {
    color: #fff;
    padding-top: .7rem;
    padding-bottom: 20px;
}
.navbar-brand {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}


.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

/* menu ends */

/* Header Sec Starts */
#header_sec{
    background-color: black;
    padding: 140px 0 100px;
}
#header_sec p{
    padding : 20px 0;
    font-size: 24px;
    color: #fff;
}
#header_sec .row{
    margin-bottom: -90px;
}
.header-img{
    position: relative;
    top: -90px;
}
#header_sec .container{
    border-bottom: 1px solid #f1f1f1;
   
}
#header_sec h5{
    color: #ffbd39;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}
#header_sec h1{
    color: #ffbd39;
    font-size: 60px;
    font-weight: 800;
    }
    #header_sec .sub-name{
        color: #fff;
        font-size: 60px;
    }
    .header-btn, .header-btn-1:hover {
        color: #000;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: #ffbd39;
        border-radius: 30px;
        height: 50px;
        padding: 15px;
        text-transform: uppercase;
    }
    .header-btn-1{
        color: #fff;
        margin-left: 15px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        border: 1px solid #fff ;
        border-radius: 30px;
        height: 50px;
        padding: 15px;
        text-transform: uppercase;
    }
    .header-btn:hover{margin-left: 0px;color: #fff;border: 1px solid #fff; background-color: transparent;}
/* Header Sec Endss */
/* About Section */
.cmn-front-head{
    color: #fff;
    font-weight: 600;
    font-size: 50px;
}
.cmn-back-head{
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
    font-size: 7vw;
    position: absolute;
    line-height: 0;
    top: 70px;
    margin-left: -10px;
}
#about_sec{
    padding: 60px 0;
}
#about_sec p{
    padding-top: 25px;
}
.about-info li span:first-child{
    font-weight: 600;
    color: #fff;
    width: 130px;
}
.about-info li{
    margin-bottom: 10px;
}
.about-info{
    padding-left: 0px;
    padding-top: 30px;
}
.download-btn {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    position: absolute;
    letter-spacing: 2px;
    background-color: #ffbd39;
    border-radius: 30px;
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
}

/* Resume Section */
.resume_sec .cmn-back-head{
left: 30%;
}
.resume_sec{
    padding: 80px 0;
    text-align: center;
}
.resume-content{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.resume_block{
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 28px;
}
.resume-desc{
    margin-top: 90px;
}
.year{
    font-weight: 700;
    font-size: 26px;
    color: #ffbd39;
}
.designation{
    font-size: 26px;
    color: #fff;
    margin: 10px 0 15px 0;
}
.place{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
}
.resume-desc p{
    margin-top: 35px;
}
.resume-desc .download-btn{
   padding: 20px 35px;
   height: auto;
   position: relative;
}

/* Skill sec */
#skill_sec .cmn-back-head{
    position: static;
    margin-left: 0px;
}
#skill_sec {
    padding: 80px 0;
    FONT-VARIANT: JIS04;
}
/* progress bar css */
.progress-wrap h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
}
.progress-wrap {
    width: 100%;
    margin-bottom: 40px;
}
.progress {
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10px;
    /* overflow: hidden; */
    font-size: 0.75rem;
    background-color:#1a1a1a;
    border-radius: 0.25rem;
}
.progress-bar {
    background-color: #ffbd39 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.progress-bar span {
    position: absolute;
    top: -34px;
    right: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 34px;
    height: 34px;
    content: '';
    background: #7a7874;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    opacity: 0;
}
#skill-row{
    margin-top: 80px;
}

/* Contact section css */
#icon-row{
    margin-top: 50px;
}
.fa{
    font-size: 30px;
    color: #ffbd39;
    border-radius: 230px;
    padding: 20px;
    padding-top: 34px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
}
.fa:hover{
    background-color: #ffbd39;
    color: rgba(255, 255, 255, 1);
    cursor: pointer ;
    padding-top: 54px;
    font-size: 40px;
    padding: 30px;
    transition: 0.3s;

}
h3.icon_title {
    font-size: 17px;
    color: #fff;
    text-align: center;
    padding: 20px 0px 0px 0;
}
#icon-row p{
    margin-bottom: 40px;
}
.contact-links:hover, .contact-links{
    color: #999999;
}
.coyright-text p{
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px;
}
.copyright-sec{
    background-color: #000;
}

.np-contact-box-form .np-contact-box-form-input {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    background: transparent;
    padding: 0.5em;
    border: none;
    outline: none;
    margin: 0.5em auto;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.np-contact-box-form-margin {
    margin-left: 1rem;
}
/* project section */
/* .project-img{
    width: 100%;
    margin-top: 40px;
    border: 1px solid #6e6c6c;
    border-radius: 5px;
}
.project-gallery-sec{
    padding-top: 40px;
} */

/* media query */
@media only screen and (max-width: 992px) {
    #header_sec {
      padding: 50px 0;
    }
    #header_sec .row {
        margin-bottom: 60px;
    }
    .cmn-front-head{margin-top: 40px;}
    #skill_sec,.resume_sec {
        padding: 40px 0;
    }
    .mail-btn{margin-bottom: 40px;}
    .cmn-back-head{display: none;}
  }